<div class="returnMainFrame">


  <div id="ImageDiv">
    <img src={{currentPersonbookreturn?.returnCopy?.book?.imageUrl}}>
  </div>

  <div id="descriptionDiv">
  <p> RETURN ID: {{currentPersonbookreturn?.id}}      |    RETURN DATE: {{currentPersonbookreturn?.returnDate}} </p>

  <p> BOOK ID: {{currentPersonbookreturn?.returnCopy?.book?.id}}    |    |BOOK TITLE: {{currentPersonbookreturn?.returnCopy?.book?.title}}    |    BOOK ISBN: {{currentPersonbookreturn?.returnCopy?.book?.isbn}}  </p>

  <p>COPY ID: {{currentPersonbookreturn?.returnCopy?.id}}    |    COPY CREATION DATE: {{currentPersonbookreturn?.returnCopy?.creationDate}}  </p>

  <p>PERSON ID: {{currentPersonbookreturn?.returnPerson?.id}}    |    PERSON NAME: {{currentPersonbookreturn?.returnPerson?.name}}  </p>
  </div>


  </div>
